<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListarClientes</servlet-name>
        <servlet-class>Servlet.ListarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutos</servlet-name>
        <servlet-class>Servlet.ListarProdutos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutosEClientes</servlet-name>
        <servlet-class>Servlet.ListarProdutosEClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>Servlet.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>Servlet.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarVenda</servlet-name>
        <servlet-class>Servlet.CadastrarVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarItensVenda</servlet-name>
        <servlet-class>Servlet.CadastrarItensVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCliente</servlet-name>
        <servlet-class>Servlet.AtualizarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarProduto</servlet-name>
        <servlet-class>Servlet.AtualizarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCliente</servlet-name>
        <servlet-class>Servlet.ExcluirCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirProduto</servlet-name>
        <servlet-class>Servlet.ExcluirProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarClientes</servlet-name>
        <url-pattern>/ListarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutos</servlet-name>
        <url-pattern>/ListarProdutos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutosEClientes</servlet-name>
        <url-pattern>/ListarProdutosEClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/CadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarVenda</servlet-name>
        <url-pattern>/CadastrarVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarItensVenda</servlet-name>
        <url-pattern>/CadastrarItensVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCliente</servlet-name>
        <url-pattern>/AtualizarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarProduto</servlet-name>
        <url-pattern>/AtualizarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCliente</servlet-name>
        <url-pattern>/ExcluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirProduto</servlet-name>
        <url-pattern>/ExcluirProduto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
